:root {
  /* --header-bg-color: #fff; */
  /* --main-bg-color: #fff; */
  /* main-text-color: #fff; */
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(25, 51, 51);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.movies-title-top{
  color: #fff;
  margin: 0;
}

ul,ol,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

.movies-img{
  width: 100%;
  height: 350px;
}

.movies-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.movies-item{
  border-radius: 5px;
  width: 250px;
  min-height: 400px;
  background-color: darkcyan;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.movies-box{
  padding: 10px;
}

.movies-title{
  color: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}

.date-box{
  display: flex;
  text-decoration: underline;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

.genres-box{
  display: inline-block;
  border: 2px solid darkslategray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movies-modal-img{
  width: 400px;
  height: 550px;
  border-radius: 10px;
}

.movies-title-modal{
  color: #000;
}